

.container {
    height: 240px;
    width: 530px;
    background-color: aquamarine;
    border: 1px solid black;
}

h2 {
    text-align: center;
}

input {
    width: 45%;
    margin-bottom: 15px;
}

#numberone {
    margin-left: 2%;
}

button {
    float: left;
    width: 20%;
    margin-bottom: 10px;
    margin-left: 4%;
}